/* Login.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('https://i.imgur.com/Q3e3gxj.jpeg');
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .login-container {
    width: 300px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form div {
    margin-bottom: 15px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
